[submodule "sim-az-paper"]
	path = sim-az-paper
	url = git@github.com:WhiffleFish/sim-az-paper.git
[submodule "deps/MarkovGames.jl"]
	path = deps/MarkovGames.jl
	url = git@github.com:WhiffleFish/MarkovGames.jl.git
[submodule "deps/POSGModels.jl"]
	path = deps/POSGModels.jl
	url = git@github.com:WhiffleFish/POSGModels.jl.git
[submodule "deps/SDAGames"]
	path = deps/SDAGames
	url = git@github.com:WhiffleFish/SDAGames.git
[submodule "deps/SatelliteDynamics.jl"]
	path = deps/SatelliteDynamics.jl
	url = git@github.com:WhiffleFish/SatelliteDynamics.jl.git
